* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*****************
Index Formatting  
*****************/

/*****************
nav stylings 
*****************/

ul {
    list-style-type: none;
    display: flex;
}

.homePage {
    margin-right: auto;
    color: lightgrey;
}

ul li {
    margin: 1em;
    font-size: 2rem;
}

li a:link {
    text-decoration: none;
    color: white;
}

li a:visited, li a:active {
    color: white;
}

.homePage a:link, .homePage a:visited, .homePage a:active {
    color: darkgray;
}

.homePage a:hover {
    color: peachpuff;
}

li a:hover {
    color: rgb(99, 98, 98);
}

/*****************
main page other styling
*****************/

.mainWrapperIndex {
    background-color: #005952;
    color: #FCFEFE;
    font-family: proxima-soft, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2rem;
    padding-bottom: 70.9vh; 
}

.main {
    text-align: center;
    font-family: ff-tisa-web-pro, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 3rem;
}

.avi {
    margin-top: 15%;
    border-radius: 50%;
    max-width: 25%;
    border: 5px solid #FCFEFE;
}

/*****************
footer styling
*****************/
footer {
    margin-top: auto;
}

footer a:hover {
    color: #005952;
}


/*****************
gallery/template styling
*****************/
.mainWrapper {
    background-color: #ffd6ba;
    color: #FCFEFE;
    font-family: proxima-soft, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2rem;
    padding-bottom: 70.9vh; 
}

.navigationOther {
    background-color: black;
}

.navigationOther .homePage a:hover {
    color: #005952;
}

/*****************
grid warning 
*****************/

@supports (display: flex) {
    .warning {
        display: none;
    }
}